<div class="container-fluid">
  <app-page-title title="Target Drive 1" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="container-fluid container-scroll">
        <div class="row columns-24">
          
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> IDENTIFY
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <!--<p class="text-muted text-truncate mb-0">
                + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
              </p>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> DISCOVER
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <!--<p class="text-muted text-truncate mb-0">
                + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
              </p>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> CLOSE
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <!--<p class="text-muted text-truncate mb-0">
                + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
              </p>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> PENDING DOLLARS
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <!--<p class="text-muted text-truncate mb-0">
                + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
              </p>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> TOTAL DOLLARS
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <!--<p class="text-muted text-truncate mb-0">
                + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
              </p>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> SELLERS ACTIVATED
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <!--<p class="text-muted text-truncate mb-0">
                + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
              </p>-->
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> LOCAL OTT CLOSED
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>1,234</h5>
                      <p class="text-muted text-truncate mb-0">
                        + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
                      </p>
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <p class="text-muted mb-4">
                  <i class=" h2 text-info align-middle mb-0 me-3"></i> PERCENTAGE TO GOAL
                </p>

                <div class="row">
                  <div class="col-4">
                    <div>
                      <h5>99%</h5>
                      <p class="text-muted text-truncate mb-0">
                        + 1.792 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i>
                      </p>
                    </div>
                  </div>
                  <div class="col-8">
                    <div>
                      <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                 [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                 [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                 [tooltip]="litecoinChart.tooltip"></apx-chart>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <h5 class="card-title me-2">New OTT Dollars</h5>
                <div class="ms-auto">
                  <div class="toolbar button-items text-end">
                    <button type="button" class="btn btn-light btn-sm" (click)="updateOptions( 'all' )"
                            [class.active]="activeOptionButton=='all'">
                      ALL
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="updateOptions( '1m' )"
                            [class.active]="activeOptionButton=='1m'">
                      1W
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="updateOptions( '6m' )"
                            [class.active]="activeOptionButton=='6m'">
                      4W
                    </button>
                    <button type="button" class="btn btn-light btn-sm active"
                            (click)="updateOptions( '1y' )" [class.active]="activeOptionButton=='1y'">
                      8W
                    </button>
                  </div>
                </div>
              </div>

              <div class="row text-center">
                <div class="col-lg-4">
                  <div class="mt-4">
                    <p class="text-muted mb-1">Total Days Remaining</p>
                    <h5>12356 </h5>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="mt-4">
                    <p class="text-muted mb-1">Team Goal</p>
                    <h5>102354 </h5>
                  </div>
                </div>
              </div>

              <hr class="mb-4">

              <apx-chart dir="ltr" #chart class="apex-charts" [chart]="visitorsOptions.chart"
                         [series]="visitorsOptions.series" [legend]="visitorsOptions.legend"
                         [colors]="visitorsOptions.colors" [fill]="visitorsOptions.fill"
                         [dataLabels]="visitorsOptions.dataLabels" [xaxis]="visitorsOptions.xaxis"
                         [stroke]="visitorsOptions.stroke">
              </apx-chart>
            </div>
          </div>


        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <hr class="mb-4">

              <apx-chart class="apex-charts" dir="ltr" [series]="basicColumChart.series" [chart]="basicColumChart.chart"
                         [plotOptions]="basicColumChart.plotOptions" [yaxis]="basicColumChart.yaxis" [grid]="basicColumChart.grid"
                         [tooltip]="basicColumChart.tooltip" [stroke]="basicColumChart.stroke"
                         [dataLabels]="basicColumChart.dataLabels" [xaxis]="basicColumChart.xaxis" [colors]="basicColumChart.colors"
                         [fill]="basicColumChart.fill">
              </apx-chart>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Target Drive Table</h4>
            <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr style="font-weight: bold;">
                  <td rowspan="2" colspan="1">MARKETS</td>
                  <td colspan="4">WEEK 1</td>
                  <td colspan="4">WEEK 2</td>
                  <td colspan="4">WEEK 3</td>
                  <td colspan="4">WEEK 4</td>
                  <td colspan="4">WEEK 5</td>
                  <td colspan="4">WEEK 6</td>
                  <td colspan="4">WEEK 7</td>
                  <td colspan="4">WEEK 8</td>
                  <td colspan="4">WEEK 9</td>
                  <td colspan="4">WEEK 10</td>
                  <td colspan="4">WEEK 11</td>
                  <td colspan="4">WEEK 12</td>
                  <td rowspan="2" >PENDING</td>
                  <td rowspan="2" >WON</td>
                  <td rowspan="2" >TOTAL DOLLARS</td>
                  <td colspan="2" >GOAL</td>
                  <td colspan="2" >SELLERS ACTIVATED</td>
                  <td colspan="4">ACTIVITY TOTAL</td>
                  <td colspan="4">RATIO BY ACTIVITY</td>

                </tr>
                <tr style="font-weight: bold;">
                  
                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  
                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  
                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <!-- PENDING  -->
                  <!-- <td sortable="age" (sort)="onSort($event)">C</td> -->
                  <!-- <td sortable="age" (sort)="onSort($event)">C</td> -->
                  <!-- <td sortable="age" (sort)="onSort($event)">C</td> -->
                  <!-- GOAL -->
                  <td sortable="age" (sort)="onSort($event)">#</td>
                  <td sortable="age" (sort)="onSort($event)">%</td>

                  <td sortable="age" (sort)="onSort($event)">#</td>
                  <td sortable="age" (sort)="onSort($event)">%</td>
                                  
                  
                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <td sortable="age" (sort)="onSort($event)">I</td>
                  <td sortable="age" (sort)="onSort($event)">D</td>
                  <td sortable="age" (sort)="onSort($event)">A</td>
                  <td sortable="age" (sort)="onSort($event)">C</td>

                  <!-- <th sortable="name" (sort)="onSort($event)">Name</th>
                  <th sortable="position" (sort)="onSort($event)">Position</th>
                  <th sortable="office" (sort)="onSort($event)">Office</th>
                  <th sortable="age" (sort)="onSort($event)">Age</th>
                  <th sortable="date" (sort)="onSort($event)">Start date</th>
                  <th sortable="salary" (sort)="onSort($event)">Salary</th>
                  <th>Actions</th> -->
                </tr>
              </thead>
              <tbody *ngFor="let table of tables$ | async;let i=index">
                <tr>
                  <td>
                    <ngb-highlight [result]="table.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  

                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  

                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>



                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  

                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  


                  <!-- PENDING  -->
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <!-- GOAL -->
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                   <!-- SELLERS ATCIVATED -->
                   <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <!--ACTIVITY TOTAL-->
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <!--RATIO BY ACTIVITY-->
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                </tr>

                 
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dropdown>
  <div class="dropdown ms-2" ngbDropdown>
    <a class="text-muted dropdown-toggle font-size-14" ngbDropdownToggle href="javascript: void(0);" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="mdi mdi-dots-horizontal"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
      <a ngbDropdownItem href="javascript::void(0);">Action</a>
      <a ngbDropdownItem href="javascript: void(0);">
        Another
        action
      </a>
      <a ngbDropdownItem href="javascript: void(0);">
        Something
        else
        here
      </a>
    </div>
  </div>
</ng-template>
